body {
	text-align: center;
}
img {
	position: relative;
}
img.me {
	float: left;
	width: 300px;
	height: auto;
}
ul {
	float: left;
}
.reveal li {
	float: left;
	margin:0 0 .3rem;
}
p.clear {
	clear: both;
}
small {
	width: 100%;
	clear: both;
}
.left {
	float: left;
	max-width: 45% !important;
}
.half-right {
	float: right;
	width: 50%;
}
.bada55 {
	color: #bada55;
}
.reveal small {
	display: inline;
	font-size: .6em;
	line-height: 2.2em;
	vertical-align: top;
	letter-spacing: .01rem;
}